#!/usr/bin/make -f

%:
	dh $@

BASEDIR=debian/gnome-shell-extension-multi-monitors/usr/share/gnome-shell/extensions/multi-monitors-add-on@spin83

override_dh_auto_build:
	# Build translations
	for TRANSLATION in multi-monitors-add-on@spin83/locale/* ; do \
		echo "Processing $$TRANSLATION..."; \
		msgfmt -cv -o $$TRANSLATION/LC_MESSAGES/multi-monitors-add-on.mo \
		              $$TRANSLATION/LC_MESSAGES/multi-monitors-add-on.po; \
	done
	dh_auto_build

override_dh_install:
	dh_install
	rm -rf $(BASEDIR)/schemas
